<center>

  <div class="welcome-container">
  <h1 class="h1-signup"><%= nome_aplicacao %></h1>
  <p class="h1-signup">Welcome, <strong> MyEvent</strong>
  is a website for creating and managing events. Create now!
  </p>
  
  <hr class="h1-signup">
  <p class= "h1-signup">Click below to view the events and create your own.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href= "<%= events_path %>" role="button">Events</a>
  </p>
  

  <p class="lead">
    <a class="btn btn-primary btn-lg" href= "<%= new_user_path %>" role="button">Adicionar novo usuario</a>
  </p>
   </div>

</center>
