<center>
<h1 class= "h1-signup">Editing Tag</h1>

<%= render 'form', tag: @tag %>

<br>
<%= link_to 'Show', @tag, class:"btn btn-dark"  %>
<%= link_to 'Back', tags_path, class:"btn btn-dark" %>
</center>
