<center>
<h1 class= "h1-signup">Editing Event</h1>

<%= render 'form', event: @event %>

<%= link_to 'Show', @event, class:"btn btn-dark" %>

<%= link_to 'Back', events_path, class:"btn btn-dark" %>
</center>